footer{
    margin-top: 100px;
    height: 200px;
    background-color: rgb(0, 92, 239);
    color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icons{
    height: 100px;
    width: auto;
    border: 2px solid black;
    border-radius: 25%;
    color: rgb(50, 92, 150) ;
}
.github{
    color: black;
    text-decoration: none;
    font-size: 100px;
}
.discord{
    color: black;
    text-decoration: none;
    font-size: 100px;
}
