.members {
    padding: 6rem 6rem;
    font-family: Outfit;
    background-color: rgb(255, 31, 37);
    position: relative;
    top: 150px;
    height: auto; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 2rem; 
}
    .teamdot{
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        font-size: 10rem; 
        color: white; 
        text-align: left; 
        margin: 0; 
        z-index: 1; 
        width: 100%; 
    }
    .box {
        width: 20rem;             
        height: auto;
        position: relative; 
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        margin: 1rem; 
    }
    .box img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .member-info {
        text-align: left; 
        margin-top: 0.5rem;
        width: 100%; 
    }
    .member-info h2 {
        font-size: 4rem; 
        margin: 0;
        color: white; 
    }
    .member-info p {
        font-size: 2rem; 
        margin: 0; 
        color: white;
    }
    .left {
        align-self: flex-start; 
    }
    .right {
        align-self: flex-end; 
    }

    .boxa::before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;  
        height: 70.5%; 
        width: 0; 
        background: yellow;
        border-radius: 0 150px 150px 0px;
        transition: width 0.3s ease; 
        z-index: 0; 
        
    }
    .boxa:hover::before {
        width: 100%;
    }
    
    .boxb::before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%; 
        height: 70.5%; 
        width: 0; 
        background: yellow; 
        border-radius: 150px 0 0 150px;
        transition: width 0.3s ease;  
        z-index: 0; 
        
    }
    .boxb:hover::before {
        width: 100%;
    }
    