@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.textcard{
    padding: 2rem 6rem;
    font-family: Outfit;
    text-align: center;
    background-color: rgb(0, 92, 239);
    position: relative;
    top: 150px;
    text-align: left;
    height: 60rem;
}
    .question{
        color: rgb(0, 50, 134);
        font-size: 92px;
    }
    .firstIntro{
        font-size: 50px;
        color: #ffffff;
    }
    .secondIntro{
        position: relative;
        top: 7rem;
        line-height: 4rem;
        font-size: 3rem;
        color: #ffffff;
    }